<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Spectral:wght@400;700&display=swap" rel="stylesheet">

    <title>Helpdesk</title>
</head>

<body class="page">
    <header class="header">
        <nav class="nav">
            <a class="branding" href="/">DHL Helpdesk</a>
        </nav>
    </header>
    <section class="hero-section">
        <!--<h2 class="hero-text">help is<br>always available.</h2>
        <p class="hero-subtext">
            Get updates on your order immediately with DHL Helpdesk.
        </p>
        </div>-->
    </section>
    <main class="chat-section">
        <form class="phone-outline">
            <article class="chat-history">
                <p class="chat-bubble theirs">Hello, welcome to DHL Helpdesk. Help is always available with DHL instant Helpdesk. <br><br>You can ask me anything about: <br> - DHL Express Shipment services<br> - your current order status<br> - Taxes and Duties and more
                </p>
            </article>
            <div class="message-bar">
                <input type="text" name="message-input" id="message-input" class="message-input" placeholder="Type here to begin chatting..." value="" autofocus tabindex="1" />
                <button type="submit" class="send-button" tabindex="2">Send</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        Built by <a href="https://github.com/kaylint">kt</a>.
    </footer>

    <!-- scripts -->
    <script src="static/logic.js"></script>
    <!-- /scripts -->
</body>

</html>